<%- include("partials/header") -%>
<h1>compose</h1>
<form>
    <div class="form-group">
      <label >title</label>
      <input type="text" name="message" class="form-control">
    </div>
    <div class="form-group">
      <label >Post</label>
      <textarea name="postm" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("partials/footer") -%>