<%- include('partials/header'); -%>
<h1>contact me</h1>

<h5>
    <div id="footer">
        <a href="https://twitter.com/@imamduroman"><i class="fa-brands fa-twitter ic"></i></a>
        <a href="https://www.facebook.com/ridwanullah.imam.3"><i class="fa-brands fa-facebook ic"></i></a>
        <a href="https://instagram.com/imam_ridwanullah?r=nametag"><i class="fa-brands fa-instagram ic"></i></a>
        <a href="mailto:imamdurosinlohun@gmail.com"><i class="fa-solid fa-envelope ic"></i></a>    
    </div>

</h5>
<p><%= contact %></p>
<%- include('partials/footer'); -%>